html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  /* border-bottom: #000 1px solid; */
}
@media (max-width: 1480px) {
  .section-gap {
    padding: 75px 0;
  }

  .section-gap-top {
    padding-top: 75px;
  }
}
@media (max-width: 991px) {
  .section-gap {
    padding: 60px 0;
  }

  .section-gap-top {
    padding-top: 60px;
  }
}

@media (max-width: 991px) {
  .work-area .filters {
    margin-top: 0px;
  }
}

.job-area .section-title h2 {
  color: #fff;
}
.job-area .section-title h2:before {
  background: #fff;
}
.job-area .section-title h2::after {
  background: #fff;
}

.footer-area .footer-logo h4 {
  color: #38a4ff;
}

.footer-area .footer-social a i {
  color: #fff;
}

.footer-area .footer-social a i:hover {
  color: #38a4ff;
  transform: scale(1.5);
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  height: inherit !important;
}

.fp-bottom {
  text-align: center;
}

.animtop {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes MoveUpDown {
  0% {
    bottom: 10px;
  }
  5% {
    bottom: 10px;
  }
  5% {
    bottom: 0;
  }
}
.mouse {
  animation: MoveUpDown 2s linear infinite;
  position: absolute;
  left: 50%;
  bottom: 5%;
}
.saturate {
  filter: saturate(3);
}
.grayscale {
  filter: grayscale(100%);
}
.contrast {
  filter: contrast(160%);
}
.brightness {
  filter: brightness(0.25);
}
.blur {
  filter: blur(3px);
}
.invert {
  filter: invert(100%);
}
.sepia {
  filter: sepia(100%);
}
.huerotate {
  filter: hue-rotate(180deg);
}
.rss.opacity {
  filter: opacity(50%);
}

.main-menu {
  padding-top: 0px;
}

#header {
  padding: 0px 0px 10px 0px;
}

div::-webkit-scrollbar {
  width: 1em;
}

div::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
  border-radius: 15px;
}

@media (max-width: 1200px) {
  .about-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}

@media (max-width: 576px) {
  .about-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh;
    padding-right: 15px;
  }
}
.nav-menu a.active,
.nav-menu a:hover {
  color: #e45447 !important;
  background-color: #fff;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
