.animtop {
  animation-name: fade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-direction: alternate;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section-gap {
  padding-top: 150px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
}

@media (min-width: 992px) {
  .section-gap {
    padding-top: 150px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}

.job-area {
  background-color: #e45649;
}

.job-area .section-title h2 {
  color: #fff;
}
.job-area .section-title h2:after {
  background: #fff;
}
.job-area .section-title h2:before {
  background: #fff;
}

.work-area .filters ul li {
  margin-right: 3px;
}
.work-area .filters ul li:last-child {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}

.work-area .filters ul li.active,
.work-area .filters ul li:hover {
  color: #fff;
  background-color: #e45447;
  border-color: #e44335;
}

.work-area .btn-secondary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #e45447;
  border-color: #e44335;
}

.footer-area .footer-bottom a {
  color: #fff;
}

.footer-area .footer-social a i {
  color: #fff;
}

.footer-area .footer-social a i:hover {
  transform: scale(2);
  color: #fff;
}
.footer-area {
  padding: 0px;
}
