
//    Font Family

$primary-font	: 'Poppins', sans-serif;
$text-font      : 'Roboto', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: var(--primary);
$primary-color2 : #90acd1;
$title-color	: var(--title-color);
$text-color		: var(--text-color);

$white			: var(--white);
$offwhite		: var(--offwhite);
$black			: var(--black);






